#rectangle {
    position: absolute;
    width: 1020px;
    height: 150px;
    left: 300px;
    top: 20px;

    background: #3E1F79;
    border-radius: 25px;
}

#rectangle2 {
    position: absolute;
    width: 1440px;
    height: 190px;
    left: 0px;
    top: 0px;

    background: rgba(62, 31, 121, 0.54);
}